apipkg==1.4
execnet==1.4.1
flake8==3.3.0
mccabe==0.6.1
numpy==1.12.1
pep8==1.7.0
PuLP==1.6.5
py==1.4.33
pycodestyle==2.3.1
pyflakes==1.5.0
pyparsing==2.2.0
pytest==3.0.7
pytest-cache==1.0
pytest-pep8==1.0.6
sphinx==1.5.5
